<div class="col">
    <div class="card mb-3 shadow-sm">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ img_src }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ card_title}}</h5>
                    <p class="card-text">{{ card_text }}</p>
                    <p class="card-text">

                        {% for badge in badges %}
                        <span class="badge text-bg-light">{{ badge }}</span>
                        {% endfor %}

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>